.by-category{
  background-color: #fff4ea;
  font-family: 'Lora', serif;
  height: 65vh;
  align-items: center;
  margin-bottom: 50px;
}

.category-content-title{
  font-size: 55px;
  text-align: center;
  margin-bottom: 10px;
  padding: 40px;
}

.slick{
  width: 100%;
  display: flex;
  max-width: 80%;
  margin: auto;
}

.slick li{
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.genre-imgs{
  width: 300px;
  height: 400px;
  object-fit: cover;
}

img:hover{
  opacity: 0.5;
}

li a{
  text-decoration: none;
  font: 20px;
  color: black;
}

li a:hover {
  opacity:0.5 ;
}

.slick slick-initialized slick-slider{
  display: flex;
}

/* 矢印のスタイル */
.slick-prev, .slick-next {
  font-size: 24px;
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%; /* 画像の上下中央に配置 */
  transform: translateY(-50%);
}

/* 左矢印の位置調整 */
.slick-prev {
  left: -100px;
}

/* 右矢印の位置調整 */
.slick-next {
  right: -100px;
}
