body{
  margin:0;
}

.main{
  background-color: white;
  font-family: 'Lora', serif;
}

.all{
  text-align: center;
  font-size: 50px;
}

.dress-count{
  font-size: 35px;
}

.dress-lists{
  list-style: none;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 100px;
}

.list{
  width: 37vh;
  height: 50vh;
  padding: 1vw;
}

.dress-img {
  width: 90%;
  height: 85%;
  align-items: center; /* 画像を縦方向に中央寄せ */
  justify-content: center; /* 画像を横方向に中央寄せ */
}

.dress-img img {
  max-height: 100%;
  max-width: 100%;
}

.dress-info-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dress-info{
  align-items: center;
  margin: 5px;
}

.no-decoration{
  text-decoration: none;
  font: black;
}

.dress-info:hover{
  opacity: 0.5;
}