.main{
  background-color: white;
  font-family: 'Lora', serif;
  width: 100%; 
}

.all{
  text-align: center;
  font-size: 50px;
}

.dress-count{
  font-size: 35px;
}

.dress-lists{
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin: 100px 100px 100px 0 ;
}

.list{
  width: 20%;
  height: 50vh;
  margin-bottom: 250px;
}

.dress-lists .dress-img {
  width: 90%;
  height: 450px;
  text-align: center;
  margin-bottom: 25px;
}

.dress-img img {
  max-height: 100%;
  max-width: 100%;
  margin-left: 30px;
}

.dress-img:hover {
  transform: scale(1.1); /* 1.1倍に拡大することで飛び出すように見せる */
  transition: transform 0.3s ease; /* エフェクトの変化をスムーズにする */
}

.dress-info-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dress-info{
  align-items: center;
  margin-right: 5px;
}

.no-decoration{
  text-decoration: none;
  font: black;
  display: flex;
  
}

.dress-info:hover{
  opacity: 0.5;
}

/* ページネーション関連 */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: black;
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
}

.pagination-list {
  display: flex;
  align-items: center; 
}

.pagination-next {
  text-decoration: none;
  order: 2; /* 順序を調整 */
  margin-left: 10px; 
}

.pagination-previous {
  text-decoration: none;
}

.pagination-link {
  padding: 25px;
}
