body{
  margin:0;
}

.main{
  background-color: white;
}

.all{
  text-align: center;
  font-size: 50px;
}

.dress-lists{
  list-style: none;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list{
  width: 37vh;
  height: 50vh;
  padding: 1vw;
  margin: 10px;

}

.dress-img {
  width: 100%;
  height: 80%; /* 親要素の80%の高さに指定 */
  display: flex;
  align-items: center; /* 画像を縦方向に中央寄せ */
  justify-content: center; /* 画像を横方向に中央寄せ */
}

.dress-img img {
  max-height: 100%;
  max-width: 100%;
}

.dress-info-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dress-info{
  align-items: center;
  margin: 5px;
}