.header {
  background-color: white;
  padding: 10px 40px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px, 10px;
  font-family: 'Lora', serif;
}

.nav__right{
  display: flex;
  align-items: center;
} 

.nav__left{
  height: 100%;
}

.nav__btn{
  display: inline-block;
  padding: 20px ;
  font-size: 15px;
  color: black;
  text-decoration: none;
  user-select: none;
  border: none;
  transition: 0.4s ease;
}

.nav__left img{
  width: 35%;
  height: 45%;
}

.nav__right img{
  width: 40px;
  height: 40px;
}

.nav__btn:hover{
  opacity: 0.5;
}