<div class="category-header">

  <div class="category-header-lists">
    <ul>
      <% Genre.where(ancestry: nil).each do |genre| %>
        <li class="category-list" ><%= link_to genre.name, genre_path(genre) %>
      <% end %>
    </ul>
  </div>

</div>