<div class="category-header">

  <div class="category-header-lists">
    <ul>
      <% Genre.all.each do |genre| %>
      <% if genre.id != 1 %>
        <li class="category-liast" ><%= link_to genre.name, genre_path(genre) %>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>