<div class="by-category">

<div class="category-content-title">
FIND BY CATEGORY
</div>
<div class="scroll-wrapper">
<button class="arrow-left hidden">←</button>
<ul>
  <% Genre.where(ancestry: nil).each do |genre| %>
    <li class="category-list" ><%= link_to genre.name, genre_path(genre) %>
    <%= image_tag @genre_images[genre.name] %></li>
  <% end %>
</ul>
 <button class="arrow-right">→</button>

</div>
</div>