<div class="by-category">

<div class="category-content-title">
FIND BY CATEGORY
</div>

<ul class="slick">
  <% Genre.all.each do |genre| %>
    <% if genre.id != 1 %>
      <li class="category-list" >
      <%= link_to genre_path(genre) do %>
        <%= image_tag @genre_images[genre.id], class:"genre-imgs" %>
        <%= genre.name %>
      </li>
      <% end %> 
    <% end %>
  <% end %>
</ul>
</div>